.carousel {
    width: 640px;
    height: 400px;
}

.carousel .item {
    width: 640px;
    height: 400px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    /*min-width: 100%;*/
    width: 640px;
    height: 400px;
}
