.landing-header {
    background: #567890 no-repeat;
    background-size: cover;
    min-height: 400px;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-weight: 300;
}

.landing-header .landing-header-title {
    font-size: 40px;
    margin-top: 40px;
}

.landing-info {
    text-align: center;
}

.landing-info .landing-info-title {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.landing-info hr {
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.landing-carousel {
    max-height: 320px;
    max-width: 320px;
    text-align: center;
    margin: auto;
}

.landing-carousel  .carousel-inner {
    overflow: hidden;
    text-align: center;
}

.landing-carousel  .carousel-control.left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(86, 120, 144, 0.50) 100%);
}

.landing-carousel  .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(86, 120, 144, 0.50) 100%);
}

.landing-carousel  .carousel-inner img {
    height: 240px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-carousel .carousel-indicators
{
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.landing-carousel .carousel-indicators li {
    margin: 0 5px 0 0;
    padding: 5px 5px 5px 5px;
}

.landing-carousel .carousel-indicators .active{
    margin: 0 5px 0 0;
    padding: 5px 5px 5px 5px;
}
