footer {
    padding: 15px 0;
    text-align: center;
}

body, html {
    margin: 0;
    padding:0;
    min-height: 100%;
}

a:hover {
    cursor: pointer;
}

.navbar-fixed-top-offset {
    height: 60px;
}
