
.zhenmins-item-list .item .item-thumbnail {
    width: 150px;
    height: 180px;
}

.zhenmins-item-list .item .item-thumbnail img {
    max-width: 120px;
}

.zhenmins-item-list .item .item-info {
    height: 180px;
    width: 300px;
}

.zhenmins-item-list .item .operations {
    height: 180px;
}

.zhenmins-item-list .item .operations {
    width: 60px;
}

.zhenmins-item-list .item .operations .operation {
    width: 60px;
    height: 90px;
    line-height: 90px;
}

@media (max-width: 1199px) {
    .zhenmins-item-list .item .item-thumbnail {
        width: 130px;
        height: 160px;
    }

    .zhenmins-item-list .item .item-thumbnail img {
        max-width: 110px;
    }

    .zhenmins-item-list .item .item-info {
        height: 160px;
        width: 230px;
    }

    .zhenmins-item-list .item .operations {
        height: 160px;
        width: 60px;
    }

    .zhenmins-item-list .item .operations .operation {
        width: 60px;
        height: 80px;
        line-height: 80px;
    }

}

@media (max-width: 991px) {
    .zhenmins-item-list .item {
        width: 100%;
    }

    .zhenmins-item-list .item .item-thumbnail {
        width: 145px;
        height: 180px;
    }

    .zhenmins-item-list .item .item-thumbnail img {
        max-width: 120px;
    }

    .zhenmins-item-list .item .item-info {
        height: 180px;
        width: 380px;
    }

    .zhenmins-item-list .item .operations {
        height: 180px;
        width: 60px;
    }

    .zhenmins-item-list .item .operations .operation {
        width: 60px;
        height: 90px;
        line-height: 90px;
    }
}

@media (max-width: 767px) {
    .zhenmins-item-list .item .item-thumbnail {
        float: none;
        height: 200px;
        max-width: 300px;
        width: 100%;
    }

    .zhenmins-item-list .item .item-thumbnail img {
        max-width: 100%;
    }

    .zhenmins-item-list .item .item-info {
        /* overwrite width/height, set new width/height */
        width: auto;
        height: auto;
        max-width: 300px;
        min-height: 0;
        /* clear the float */
        float: none;
    }

    .zhenmins-item-list .item {
        background-color: transparent;
    }

    .zhenmins-item-list .item .operations {
        float: none;
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .zhenmins-item-list .item .operations .operation{
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
    }

}
