div {
    margin-top: 10px;
}

.imageViewer .mainImage {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.imageViewer .thumbnail {
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 75px;
    width: 75px;
}
