/* profile.css is used accross [ profile.html, profile_edit.html, profile_other.html ] */

.my-namecard {
    margin-bottom: 15px;
}

.my-namecard .my-thumbnail {
    max-width: 300px;
    background-color: #ECF0F1;
    border: 1px solid #ECF0F1;
}

.my-namecard .my-thumbnail img {
    height: auto;
    width: auto;
    max-width: 100%;
}

.my-namecard .my-summary {
    padding: 10px;
    max-width: 300px;
    background-color: #ECF0F1;
}

.my-namecard .my-summary .header {
    margin-top: 0;
}

.my-namecard .my-summary ul {
    padding: 0;
    max-width: 100%;
    list-style: none;
}

.my-namecard .my-summary ul > li {
    word-wrap: break-word;
}

.my-namecard .operations {
    background-color: #2C3E50;
}

.my-namecard .operations .operation
{
    background-color: #2C3E50;
    color: #ffffff;
}

.my-namecard .operations .operation:hover
{
    background-color: #2C3E50;
    color: #18bc9c;
}
