<link rel="stylesheet" href="/css/profile.css">
<div class="container">
    <div class="panel-body">
        <h3 class="thin text-center">Edit Profile</h3>
        <hr>

        <!-- left column -->
        <div class="col-sm-3 col-xs-12">
            <div class="my-namecard">
                <div class="my-thumbnail">
                    <img class="center-block" ng-src="{{newUser.img_url}}">
                </div>
                <div class="my-summary">
                    <p>{{ note }}</p>
                    <p>{{ files[0].name}}</p>
                    <div>
                        <a class="btn btn-primary" ng-file-select ng-model="files" ng-show="files==null">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                        <a class="btn btn-primary" ng-click="uploadFile()" ng-show="files!=null">Upload</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-sm-9 col-xs-12 personal-info">

            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-3 control-label">First name:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text"
                               ng-model="newUser.firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Last name:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text"
                               ng-model="newUser.lastname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text"
                               ng-model="newUser.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text"
                               ng-model="newUser.username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" value="Save Changes"
                               ng-click="updateUser()">
                        <span></span>
                        <input type="button" class="btn btn-default" value="Cancel"
                               ng-click="cancelEdit()">
                    </div>
                </div>
            </form>

            <hr>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password"
                               ng-model="newPassword" ng-change="clearWarning('password')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password"
                               ng-model="newPasswordConfirm" ng-change="clearWarning('password')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" value="Changes Password"
                               ng-click="updatePassword()">
                        <span></span>
                        <input type="button" class="btn btn-default" value="Cancel"
                               ng-click="cancelEdit()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>