<link rel="stylesheet" href="/css/book-detail.css">
<div class="container">
    <div class="panel-body">
        <div class="col-xs-12">
            <div ng-show="waitingResult1">
                <img class="center-block"
                     src="https://s3.amazonaws.com/zhenmins-public-img/loading.GIF">
            </div>
            <div class="book-detail" ng-model="volume" ng-show="!waitingResult1">
                <h3 class="thin text-center">{{volume.volumeInfo.title}}</h3>
                <hr>
                <img ng-src="{{volume.volumeInfo.imageLinks.thumbnail}}">
                <div class="favorite-btn">
                    <a class="center-block" ng-click="addFavorite(volume.id, volume.volumeInfo)"
                       data-toggle="popover" data-placement="top"
                       data-content="Adding this book to your favorites..."
                       id="pop-hint">
                        Add to Favorite
                    </a>
                </div>
                <dl class="dl-horizontal">
                    <dt>Authors</dt>
                    <dd>{{volume.volumeInfo.authors_string}}</dd>
                    <dt>Categories</dt>
                    <dd>{{volume.volumeInfo.categories_string}}</dd>
                    <dt>Ratings</dt>
                    <dd>{{volume.volumeInfo.averageRating}} ({{volume.volumeInfo.ratingsCount}} votes)</dd>
                    <dt>Publisher</dt>
                    <dd>{{volume.volumeInfo.publisher}}</dd>
                    <dt>Published Date</dt>
                    <dd>{{volume.volumeInfo.publishedDate}}</dd>
                    <dt>Description</dt>
                    <dd>
                        <p><a data-toggle="collapse" data-target="#viewdetails">View details &raquo;</a></p>
                        <p class="collapse" id="viewdetails">{{volume.volumeInfo.description}}</p>
                    </dd>
                </dl>
            </div>
            <hr>
            <div class="book-reviews">
                <h4>Book reviews:</h4>
                <p class="text-primary" ng-show="reviews.length == 0"> No reviews for this book !</p>
                <ul class="list-unstyled">
                    <li ng-repeat="r in reviews | limitTo: 3">
                        <dl class="dl-horizontal">
                            <dt>User Name</dt>
                            <dd>{{r.user_name}}</dd>
                            <dt>Time</dt>
                            <dd>{{r.review_time}}</dd>
                            <dt>Content</dt>
                            <dd>{{r.content}}</dd>
                        </dl>
                    </li>
                </ul>
                <hr>
                <h4> Write a review for this book </h4>
                <form>
                    <div class="container-fluid no-x-padding">
                        <div class="form-group">
                            <textarea ng-model="reviewContent" class="form-control" rows="3" required=""></textarea>
                        </div>
                        <button class="btn btn-default pull-right" type="submit" ng-click="submitReview()">
                            Submit Review
                        </button>
                    </div>
                </form>
            </div>
            <hr>
            <div>
                <h4 ng-show="people.length > 0"> Other people who likes this book: </h4>
                <div ng-show="waitingResult2">
                    <img class="center-block"
                         src="https://s3.amazonaws.com/zhenmins-public-img/loading.GIF">
                </div>

                <ul>
                    <li ng-repeat="p in people | limitTo: 3">
                        <a class="user_link" ng-click="viewOthersProfile(p._id)">
                            {{ p.firstname + " " + p.lastname || p.username || p.email }}
                        </a>
                        also liked:
                        <ul>
                            <li ng-repeat="b in p.favoriteBooks | limitTo: 3" ng-maxlength="3">
                                {{b.title}}
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>