<link rel="stylesheet" href="/css/home.css">
<!--<link rel="stylesheet" href="/css/zhenmins-carousel.css">-->
<div class="landing-header">
    <div class="landing-carousel">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
            </slide>
        </carousel>
    </div>
    <h1 class="landing-header-title">ReadiBook</h1>
    <p> Single-page application design in CS5610 - Web Development </p>
    <p style="padding-bottom: 20px;"> by Zhenming Shen </p>
</div>
<div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="landing-info">
            <h1 class="landing-info-title">Introduction</h1>
            <p class="text-muted">
                This is a single page web-based book sharing application.
                It integrates with Google Books API. User can search whatever
                book they are interested in and follow other users who has
                similar reading tastes.
            </p>
            <p class="text-muted"> Its going to be fun! Check it out right now!</p>
            <hr>
        </div>
    </div>
</div>
